*.class
*.pyc
*.pyo
src/django_bodystats/BodyStats/static/extjs
src/django_bodystats/BodyStats.db
src/django_bodystats/django.log
src/django_bodystats/deploy-static
src/django_bodystats/deploy-static
